


body {
  margin: 0;
  text-align: center;
  font-family: 'Arial Narrow Bold', sans-serif;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.hero {
  background: #6943fe;
  color: white;
  padding: 30px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 10px;
}

#input{
  width: 300px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  border: none;
}

button{
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  background-color: #1F2937;
  color: white;
  font-weight: bold;
  border: none;
}

.main {
  background: #6943fe;
  padding: 10px;
  border-radius: 10px;
}

.section {
  background: #1F2937;
  color: white;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  
}